body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(255, 136, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.header-logo{
    color: white;
    display: flex;
    align-items: center;
}

h3{
    color: white;
    text-decoration: underline;
}

.header-icon{
    width: 32px;
    height: 32px;
    margin: 8px;
}

main{
    display: flex;
}

.card{
    width: 70%;
}

.card-header{
    background-image: url("./img/3.jpg");
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 330px;
    position: relative;
}

.resto-logo{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 250px;
    transform: translateX(-50%);
}

.rating-star{
    height: 16px;
    width: 16px;
}

.resto-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    padding: 24px;
}

.resto-name{
    font-size: 32px;
    font-weight: 800;
    
}

.rating{
    display: flex;
    align-items: center;
}

.rating-text{
    font-size: 14px;
    color:rgb(255, 136, 0);
}

.resto-buttons{
    display: flex;
}

.resto-btn-div{
    border: 1px solid lightgray;
    padding: 8px;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resto-btn{
    height: 24px;
    width: 24px;
}

.menu-bar{
    display: flex;
    background-color: beige;
    justify-content: space-around;
    padding: 16px;
}

.menu-bar-icon{
    height: 16px;
    width: 16px;
}

.meals{
    margin: 24px;
}

.meals-header{
    background-color: beige;
    padding: 5px;
    margin-bottom: 16px;
    padding-left: 16px;
}

.meal{
    border: 1px solid lightgrey;
    padding-left: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.plus-btn{
    height: 24px;
    width: 24px;
}

.item-btn{
    border: 1px solid lightgray;
    padding: 4px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-btn:hover{
    cursor: pointer;
}

#active{
    color: rgb(255, 136, 0)
}

.basket-header{
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
}

h4{
    font-size:  24px;
    font-weight: bold;
    
}

.basket{
    width: 30%;
    display: flex;
    flex-direction: column;
    box-shadow: -1px 1px 17px 5px rgba(199, 199, 199, 0.5);
    position: fixed;
    right: 0;
    top: 100px;
    transition: all 100ms ease;
    background-color: white;
    min-height: 100%;
}

.basket-items{
    padding: 16px;
    border-bottom: 1px solid lightgrey;   
}

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    padding-bottom: 16px;
}

.item-first-part{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.item-second-part{
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.item-icon{
    width: 16px;
    height: 16px;
}

.amount-change{
    border: 1px solid lightgray;
}

.amount-change:hover{
    cursor: pointer;
}

.delete-btn:hover{
    cursor: pointer;
}

.basket-price{
    padding: 32px;
}

table{
    width: 100%;
}

td{
    padding-top: 8px;
}

#complete td{
    font-weight: bold;
    padding-top: 16px;
}

.order-btn{
    background-color: rgb(80, 80, 253);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 24px;
    margin-top: 24px;
}

.order-btn:hover{
    cursor: pointer;
    background-color: rgb(87, 87, 253);
}

.empty-basket{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-basket-icon{
    width: 40px;
    height: 40px;
    margin-bottom: 32px;
    margin-top: 16px;
}

.empty-header{
    font-weight: bold;
    margin-bottom: 16px;
}

#empty-text{
    text-align: center;
    width: 240px;
    margin-bottom: 16px;
}